/* Enter your custom styles here */

.alignTableButton{
    justify-content: space-between;
    position: relative;
    top: 47px;
    z-index: 1000;
    padding: 0 50px;
}

.FirstTitle{
  font-size: 30px!important;
  margin: 20px!important;
}

.left20{
    position: relative;
    /* left: 50px; */
}

.left20-f{
    margin-left: 30px;
}

.hdrDynPair{
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-top: 6px;
  gap: 10px;
}

.hdrDynPair div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hdr3LblBoxTmpl{
  
}

.alignTableButton .sapMTBStandard{
    border-bottom: none!important;
}

/* neutralizza eventuale bold ereditato (Screen3) */
.hdrDynPair {
  font-weight: normal;
}

/* extra safety: il valore non deve mai essere bold */
.hdrDynVal {
  font-weight: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.s3PostErrorRow .sapUiTableCell,
.s3PostErrorRow.sapMListTblRow > td {
  background-color: #ffe5e5 !important;
}
