/* Enter your custom styles here */

.alignTableButton{
    justify-content: space-between;
    position: relative;
    top: 47px;
    z-index: 1000;
    padding: 0 50px;
}

.left20{
    position: relative;
    /* left: 50px; */
}

.left20-f{
    margin-left: 30px;
}


.alignTableButton .sapMTBStandard{
    border-bottom: none!important;
}

/* neutralizza eventuale bold ereditato (Screen3) */
.hdrDynPair {
  font-weight: normal;
}

/* extra safety: il valore non deve mai essere bold */
.hdrDynVal {
  font-weight: normal !important;
}
